<a href="https://colab.research.google.com/github/gabrielvaladao13/2021-1-exercicio-revisao-refatoracao/blob/main/C%C3%B3pia_de_C%C3%B3pia_de_ibd_tp_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><center>Universidade Federal de Minas Gerais</center></h1>
<h3><center>Departamento de Ciência da Computação</center></h3>
<h3><center>Introdução a Banco de Dados -  Trabalho Prático #1</center></h3>

# 1. Introdução

### 1.1. Contexto

Nesse trabalho prático utilizaremos o banco de dados representado pelo schema abaixo:

![Modelo_BD.png](https://github.com/claudiovaliense/ibd/blob/main/data/schema.png?raw=true)

### 1.2. Entrega



1.   Você deve completar esse notebook, executar todas as células e submetê-lo no **Minha UFMG**.
2.   Você pode entregar até o dia 23/01/2022 às 23:59.
3. O trabalho é individual e vale 15 pontos.

# 2. Preparação do Ambiente

In [ ]:
# importando os packages necessários
import io
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
import wget

ModuleNotFoundError: ignored

In [ ]:
wget.download("https://raw.githubusercontent.com/GiovannaR/ibd/master/data/despesas_publicas_tp1.sql")

100% [............................................................................] 277046 / 277046

'despesas_publicas_tp1.sql'

In [ ]:
# download do dump do banco de  dados:
!wget https://raw.githubusercontent.com/GiovannaR/ibd/master/data/despesas_publicas_tp1.sql

--2022-01-23 14:21:08--  https://raw.githubusercontent.com/GiovannaR/ibd/master/data/despesas_publicas_tp1.sql
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 277046 (271K) [text/plain]
Saving to: ‘despesas_publicas_tp1.sql’

despesas_publicas_t 100%[===================>] 270.55K  --.-KB/s    in 0.03s

2022-01-23 14:21:08 (8.20 MB/s) - ‘despesas_publicas_tp1.sql’ saved [277046/277046]

### 2.1. Criação da conexão com o banco
* No momento da conexão, é informado o nome do arquivo onde será montado o banco de dados. No nosso caso, este arquivo não precisa ser pré-existente, porque iremos carregar as informações de um dump;
* Se este comando for executado com um arquivo que já existe e possui as mesmas tabelas que serão criadas, ocorrerá um erro no momento da execução do script mais à frente.

In [ ]:
conn = sqlite3.connect('despesas.db')
cursor = conn.cursor()

### 2.2. Execução do script para inicializar e popular o banco de dados

* Criada a conexão, iremos utilizar o arquivo .sql disponibilizado para recuperar o schema e os dados do banco

In [ ]:
f = io.open('despesas_publicas_tp1.sql', 'r', encoding='ISO-8859-1')
sql = f.read()
cursor.executescript(sql)

### 2.3. Realizando consultas no banco de dados

* Criada a conexão e realizada a carga dos dados no banco, pode ser executada qualquer consulta SQL;
* O SQLite3 permite que o retorno dos dados seja feito em vários formatos, entretanto, utilizaremos o retorno em um dataframe do Pandas.



**CONSULTA EXEMPLO:** todos os órgãos ordenados pela quantidade de orgãos subordinados de forma decrescente.

In [ ]:
df = pd.read_sql_query("SELECT * FROM ORGAO ORDER BY QTD_ORGAOS_SUBORDINADOS DESC", conn)
df

    COD_ORGAO  ... QTD_ORGAOS_SUBORDINADOS
0       26000  ...                     104
1       30000  ...                       6
2       22000  ...                       5
3       24000  ...                       4
4       52000  ...                       4
5       53000  ...                       4
6       25000  ...                       3
7       36000  ...                       3
8       20000  ...                       2
9       39000  ...                       2
10      44000  ...                       2
11      55000  ...                       2
12      35000  ...                       1
13      81000  ...                       1

[14 rows x 3 columns]

#3. Consultas

Expresse cada consulta abaixo utilizando SQL:

**1.** Retorne a quantidade de palavras em cada registro da coluna nome_orgao da tabela orgão.

In [ ]:
df = pd.read_sql_query("SELECT NOME_ORGAO,  (LENGTH(TRIM(NOME_ORGAO))-LENGTH(replace(TRIM(NOME_ORGAO),' ','' )))+1 AS palavras FROM ORGAO", conn)
df

                                       NOME_ORGAO  palavras
0                        Presidência da República         3
1   Ministério da Agricultura, Pecuária e Abastec         6
2   Ministério da Ciência, Tecnologia, Inovações          5
3                           Ministério da Fazenda         3
4                          Ministério da Educação         3
5       Ministério da Justiça e Segurança Pública         6
6              Ministério das Relações Exteriores         4
7                             Ministério da Saúde         3
8   Ministério dos Transportes, Portos e Aviação          6
9                     Ministério do Meio Ambiente         4
10                           Ministério da Defesa         3
11              Ministério da Integração Nacional         4
12           Ministério do Desenvolvimento Social         4
13                Ministério dos Direitos Humanos         4



```
# Isto está formatado como código
```

**2.** Dado a coluna nome_orgao, retorne a primeira posição que a string 'da' aparece da tabela orgão

In [ ]:
df = pd.read_sql_query("SELECT NOME_ORGAO, instr(NOME_ORGAO, 'da')  AS DA_POSICAO FROM ORGAO", conn)
df

                                       NOME_ORGAO  DA_POSICAO
0                        Presidência da República          13
1   Ministério da Agricultura, Pecuária e Abastec          12
2   Ministério da Ciência, Tecnologia, Inovações           12
3                           Ministério da Fazenda          12
4                          Ministério da Educação          12
5       Ministério da Justiça e Segurança Pública          12
6              Ministério das Relações Exteriores          12
7                             Ministério da Saúde          12
8   Ministério dos Transportes, Portos e Aviação            0
9                     Ministério do Meio Ambiente           0
10                           Ministério da Defesa          12
11              Ministério da Integração Nacional          12
12           Ministério do Desenvolvimento Social           0
13                Ministério dos Direitos Humanos           0

**3.** Liste todos os nomes dos órgãos e o valor das despesas totais no ano de 2018 para os mesmos, ordenando de forma decrescente pelo valor.

In [ ]:
df = pd.read_sql_query("SELECT O.NOME_ORGAO, SUM(D.VALOR_DESPESA) as VALOR_DESPESA " + 
                       "FROM DESPESA_PUBLICA AS D, ORGAO AS O " +
                       "WHERE D.COD_ORGAO = O.COD_ORGAO AND D.ANO_DESPESA=2018 " + 
                       "GROUP BY O.NOME_ORGAO " +
                       "ORDER BY VALOR_DESPESA DESC", conn)
df

                                       NOME_ORGAO  VALOR_DESPESA
0                            Ministério da Defesa      353376.70
1            Ministério do Desenvolvimento Social      278586.35
2   Ministério da Agricultura, Pecuária e Abastec       90836.51
3                          Ministério da Educação       64007.82
4                             Ministério da Saúde       50971.19
5   Ministério da Ciência, Tecnologia, Inovações            0.00
6                           Ministério da Fazenda           0.00
7               Ministério da Integração Nacional           0.00
8       Ministério da Justiça e Segurança Pública           0.00
9              Ministério das Relações Exteriores           0.00
10                    Ministério do Meio Ambiente           0.00
11                Ministério dos Direitos Humanos           0.00
12  Ministério dos Transportes, Portos e Aviação            0.00
13                       Presidência da República           0.00

**4.** Liste o mês e ano, modalidade, programa de governo e valor de todas as despesas do órgão Ministério da Fazenda no primeiro semestre de 2018.

> Bloco com recuo

In [ ]:
df = pd.read_sql_query("SELECT MES_DESPESA, ANO_DESPESA, MODALIDADE_DESPESA, P.NOME_PROGRAMA_GOVERNO, SUM(VALOR_DESPESA) AS VALOR_TODAS_DESPESAS " + 
                       "FROM DESPESA_PUBLICA AS D "+
                       "INNER JOIN PROGRAMA_GOVERNO AS P "+
                       "ON D.COD_PROGRAMA_GOVERNO=P.COD_PROGRAMA_GOVERNO "+
                       "INNER JOIN ORGAO AS O " +
                       "ON O.COD_ORGAO = D.COD_ORGAO "+
                       "WHERE O.NOME_ORGAO='Ministério da Fazenda' AND MES_DESPESA<=6 AND D.ANO_DESPESA=2018 "+
                       "GROUP BY MODALIDADE_DESPESA, MES_DESPESA, ANO_DESPESA, P.NOME_PROGRAMA_GOVERNO", conn)
df

   MES_DESPESA  ANO_DESPESA  ... NOME_PROGRAMA_GOVERNO VALOR_TODAS_DESPESAS
0            1         2018  ...    BRASIL SEM MISERIA                    0
1            2         2018  ...    BRASIL SEM MISERIA                    0
2            3         2018  ...    BRASIL SEM MISERIA                    0
3            4         2018  ...    BRASIL SEM MISERIA                    0
4            4         2018  ...  GESTAO AEROPORTUARIA                    0
5            5         2018  ...    BRASIL SEM MISERIA                    0
6            6         2018  ...    BRASIL SEM MISERIA                    0

[7 rows x 5 columns]

**5.** Liste o código e nome dos programas de governo que possuíram os 3 maiores valores de despesas totais na função de educação durante o ano de 2018.

In [ ]:
df = pd.read_sql_query("SELECT P.COD_PROGRAMA_GOVERNO, P.NOME_PROGRAMA_GOVERNO " + 
                       "FROM DESPESA_PUBLICA AS D " +
                       "INNER JOIN DETALHAMENTO_FUNCAO AS DF "+
                       "ON D.COD_DETALHAMENTO=DF.COD_DETALHAMENTO "+
                       "INNER JOIN FUNCAO AS F "+
                       "ON DF.COD_FUNCAO=F.COD_FUNCAO "+
                       "INNER JOIN PROGRAMA_GOVERNO AS P "+
                       "ON D.COD_PROGRAMA_GOVERNO=P.COD_PROGRAMA_GOVERNO "+ 
                       "WHERE F.NOME_FUNCAO='Educação' AND D.ANO_DESPESA=2018 "+
                       "GROUP BY P.COD_PROGRAMA_GOVERNO " +
                       "ORDER BY SUM(D.VALOR_DESPESA) DESC LIMIT 3 ", conn)
df

   COD_PROGRAMA_GOVERNO NOME_PROGRAMA_GOVERNO
0                    11                  ENEM
1                    14              PRONATEC
2                    35          MAIS MEDICOS

**6.** Transforme os caracteres em minúsculo e remova todos os termos 'da' na coluna nome_orgao da tabela orgão.

In [ ]:
df = pd.read_sql_query("SELECT REPLACE(LOWER(NOME_ORGAO), 'da','') AS NOME_ORGAO_SEM_DA FROM ORGAO", conn)
df

                                NOME_ORGAO_SEM_DA
0                          presidência  república
1     ministério  agricultura, pecuária e abastec
2     ministério  ciência, tecnologia, inovações
3                               ministério  fazen
4                            ministério  educação
5         ministério  justiça e segurança pública
6                ministério s relações exteriores
7                               ministério  saúde
8   ministério dos transportes, portos e aviação
9                     ministério do meio ambiente
10                             ministério  defesa
11                ministério  integração nacional
12           ministério do desenvolvimento social
13                ministério dos direitos humanos

**7.** Liste os órgãos governamentais e a quantidade de programas de governo distintos envolvidos nas despesas públicas desses órgãos. Nesta consulta, desconsidere valores de despesa negativos ou iguais a zero no período.

In [ ]:
df = pd.read_sql_query("SELECT NOME_ORGAO, COUNT(DISTINCT P.COD_PROGRAMA_GOVERNO) AS QTD_PROGRAMAS_DISTINTOS " + 
                       "FROM ORGAO AS O, DESPESA_PUBLICA AS D "+
                       "INNER JOIN PROGRAMA_GOVERNO AS P "+
                       "ON D.COD_PROGRAMA_GOVERNO=P.COD_PROGRAMA_GOVERNO "+
                       "WHERE O.COD_ORGAO=D.COD_ORGAO AND D.VALOR_DESPESA>0 "+
                       "GROUP BY NOME_ORGAO", conn)
df

                                      NOME_ORGAO  QTD_PROGRAMAS_DISTINTOS
0  Ministério da Agricultura, Pecuária e Abastec                        2
1                           Ministério da Defesa                        2
2                         Ministério da Educação                        4
3                            Ministério da Saúde                        2
4           Ministério do Desenvolvimento Social                        1

**8.** Liste os nomes das subfunções das despesas públicas envolvidas para cada programa de governo. Sua consulta deve retornar o nome do programa de governo, a subfunção da despesa, a quantidade de entradas de despesas públicas e o valor total dessas despesas.

In [ ]:
df = pd.read_sql_query("SELECT NOME_PROGRAMA_GOVERNO, NOME_SUBFUNCAO, COUNT(VALOR_DESPESA), SUM(VALOR_DESPESA)" + 
                       "FROM DESPESA_PUBLICA AS D "+
                       "INNER JOIN DETALHAMENTO_FUNCAO AS DF "+
                       "ON D.COD_DETALHAMENTO=DF.COD_DETALHAMENTO "+
                       "INNER JOIN SUBFUNCAO AS S "+
                       "ON DF.COD_SUBFUNCAO=S.COD_SUBFUNCAO "+
                       "INNER JOIN PROGRAMA_GOVERNO AS P "+
                       "ON D.COD_PROGRAMA_GOVERNO=P.COD_PROGRAMA_GOVERNO "+
                       "GROUP BY NOME_PROGRAMA_GOVERNO, NOME_SUBFUNCAO", conn)
df

   NOME_PROGRAMA_GOVERNO  ... SUM(VALOR_DESPESA)
0     BRASIL SEM MISERIA  ...          100373.55
1     BRASIL SEM MISERIA  ...          227883.77
2     BRASIL SEM MISERIA  ...               0.00
3     BRASIL SEM MISERIA  ...               0.00
4     BRASIL SEM MISERIA  ...               0.00
..                   ...  ...                ...
60      VIVER SEM LIMITE  ...               0.00
61      VIVER SEM LIMITE  ...               0.00
62      VIVER SEM LIMITE  ...               0.00
63      VIVER SEM LIMITE  ...               0.00
64      VIVER SEM LIMITE  ...               0.00

[65 rows x 4 columns]

**9.** Liste todas as despesas públicas (código da despesa, mês e ano da despesa, modalidade, valor) em que o órgão responsável é aquele que possui o maior número de órgãos subordinados.

In [ ]:
df = pd.read_sql_query("SELECT COD_DESPESA, MES_DESPESA, ANO_DESPESA, MODALIDADE_DESPESA, SUM(VALOR_DESPESA) " + 
                       "FROM DESPESA_PUBLICA AS D "+
                       "INNER JOIN ORGAO AS O "+
                       "ON D.COD_ORGAO=O.COD_ORGAO "+
                       "WHERE O.QTD_ORGAOS_SUBORDINADOS=(SELECT MAX(QTD_ORGAOS_SUBORDINADOS)FROM ORGAO) "+
                       "GROUP BY D.COD_DESPESA ", conn)
df

     COD_DESPESA  MES_DESPESA  ...       MODALIDADE_DESPESA SUM(VALOR_DESPESA)
0            196           10  ...  Reserva de Contingência                0.0
1            197            1  ...  Reserva de Contingência                0.0
2            198            2  ...  Reserva de Contingência                0.0
3            199            3  ...  Reserva de Contingência                0.0
4            200            4  ...  Reserva de Contingência                0.0
..           ...          ...  ...                      ...                ...
289          485            8  ...  Reserva de Contingência             2400.0
290          486            9  ...  Reserva de Contingência                0.0
291          487           10  ...  Reserva de Contingência                0.0
292          488           11  ...  Reserva de Contingência                0.0
293          489           12  ...  Reserva de Contingência                0.0

[294 rows x 5 columns]

**10.** Liste todas as despesas públicas (código da despesa, mês e ano da despesa, modalidade, valor) em que o órgão responsável é aquele que possui o maior valor total em despesas durante o ano de 2018.

In [ ]:
df = pd.read_sql_query("SELECT COD_DESPESA, MES_DESPESA, ANO_DESPESA, MODALIDADE_DESPESA, VALOR_DESPESA, D.COD_ORGAO " + 
                       "FROM DESPESA_PUBLICA AS D "+
                       "INNER JOIN ORGAO AS O "+
                       "ON D.COD_ORGAO=(SELECT O.COD_ORGAO FROM ORGAO AS O "+
                                        "INNER JOIN DESPESA_PUBLICA AS D "+
                                        "ON O.COD_ORGAO=D.COD_ORGAO "+
                                        "WHERE D.ANO_DESPESA=2018 "+
                                        "GROUP BY O.COD_ORGAO "+
                                        "ORDER BY SUM(VALOR_DESPESA) DESC LIMIT 1) "+
                       "GROUP BY D.COD_DESPESA, MES_DESPESA, ANO_DESPESA ", conn)
df

    COD_DESPESA  MES_DESPESA  ...  VALOR_DESPESA COD_ORGAO
0           827            1  ...            0.0     52000
1           828            2  ...            0.0     52000
2           829            3  ...            0.0     52000
3           830            4  ...            0.0     52000
4           831            5  ...            0.0     52000
5           832            6  ...            0.0     52000
6           833            7  ...            0.0     52000
7           834            8  ...            0.0     52000
8           835            9  ...       334126.7     52000
9           836           10  ...            0.0     52000
10          837           11  ...            0.0     52000
11          838           12  ...            0.0     52000
12          839           12  ...            0.0     52000
13          840            1  ...            0.0     52000
14          841            2  ...            0.0     52000
15          842            3  ...            0.0     52000
16          843            4  ...            0.0     52000
17          844            5  ...            0.0     52000
18          845            6  ...            0.0     52000
19          846            8  ...            0.0     52000
20          847           12  ...            0.0     52000
21          848            1  ...            0.0     52000
22          849            1  ...            0.0     52000
23          850            2  ...            0.0     52000
24          851            3  ...            0.0     52000
25          852            4  ...            0.0     52000
26          853            5  ...            0.0     52000
27          854            6  ...            0.0     52000
28          855            7  ...            0.0     52000
29          856            8  ...            0.0     52000
30          857            9  ...            0.0     52000
31          858           10  ...        19250.0     52000
32          859           11  ...            0.0     52000
33          860           12  ...            0.0     52000
34          861            1  ...            0.0     52000
35          862            2  ...            0.0     52000
36          863            3  ...            0.0     52000
37          864            4  ...            0.0     52000
38          865            5  ...            0.0     52000
39          866            6  ...            0.0     52000
40          867            7  ...            0.0     52000
41          868            8  ...            0.0     52000
42          869            9  ...            0.0     52000
43          870           10  ...            0.0     52000
44          871           11  ...            0.0     52000
45          872           12  ...            0.0     52000
46          873            3  ...            0.0     52000
47          874            4  ...            0.0     52000
48          875            5  ...            0.0     52000
49          876            6  ...            0.0     52000
50          877            7  ...            0.0     52000
51          878            8  ...            0.0     52000
52          879            9  ...            0.0     52000
53          880           10  ...            0.0     52000
54          881           11  ...            0.0     52000
55          882           12  ...            0.0     52000

[56 rows x 6 columns]

**11.** Liste os códigos e nomes dos programas de governo relacionados ao órgão (ou órgãos, caso haja empate) que teve menos registros de despesas públicas durante o ano.

In [ ]:
df = pd.read_sql_query("SELECT D.COD_PROGRAMA_GOVERNO, NOME_PROGRAMA_GOVERNO FROM (SELECT COD_ORG FROM (SELECT COD_ORGAO AS COD_ORG, "+
                                                                                   "COUNT(D.VALOR_DESPESA) COUNT_DESPESAS, SUM(D.VALOR_DESPESA) "+
                                                                                   "SUM_DESPESA FROM DESPESA_PUBLICA AS D "+
                                                                                    "GROUP BY D.ANO_DESPESA, D.COD_ORGAO) "+
                       "WHERE COUNT_DESPESAS = (SELECT COUNT(D.VALOR_DESPESA) C_DESPESAS FROM DESPESA_PUBLICA AS D "+
                                                "GROUP BY D.ANO_DESPESA, D.COD_ORGAO ORDER BY C_DESPESAS ASC LIMIT 1) GROUP BY COD_ORG) "+
                       "INNER JOIN DESPESA_PUBLICA AS D "+
                       "ON COD_ORG=D.COD_ORGAO "+
                       "INNER JOIN PROGRAMA_GOVERNO AS P "+
                       "ON D.COD_PROGRAMA_GOVERNO=P.COD_PROGRAMA_GOVERNO", conn)
df

   COD_PROGRAMA_GOVERNO NOME_PROGRAMA_GOVERNO
0                    19            OLIMPIADAS
1                    24    BRASIL SEM MISERIA

**12.**  Álgebra relacional: projeção do NOME_FUNCAO e NOME_SUBFUNCAO da junção natural das tabelas FUNCAO, DETALHAMENTO_FUNCAO e SUBFUNCAO

**13.**  Álgebra relacional: projeção de MODALIDADE_DESPESA, VALOR_DESPESA e NOME_PROGRAMA_GOVERNO da junção natural das tabelas PROGRAMA_GOVERNO e DESPESA_PUBLICA onde a MODALIDADE_DESPESA = 'Reserva de Contingência'

**14.**  Álgebra relacional: projeção de VALOR_DESPESA e NOME_ORGAO da junção natural das tabelas DESPESA_PUBLICA e ORGAO onde o NOME_ORGAO = 'Ministério da Fazenda'

**15.**  Álgebra relacional: projeção de NOME_PROGRAMA_GOVERNO e VALOR_DESPESA da junção natural das tabelas DESPESA_PUBLICA, PROGRAMA_GOVERNO e ORGAO onde o NOME_ORGAO = 'Ministério da Saúde'

# 4. Fechamento da conexão com o banco

* Após serem realizadas todas as consultas necessárias, é aconselhavel encerrar formalmente a conexão com o banco de dados

In [ ]:
conn.close()